* {
  margin: 0;
  padding: 0;
}

body {
  color:#e7d4b5;
  font-family: 'Mukta', sans-serif;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /* --> para trabajar con rems*/
}

*, *:before, *:after {
  box-sizing: inherit;
}

.container {
  width: 90%;
  /* margin: 2rem auto; */
  background-color: rgba(255, 255, 255, 0.13);
  text-align: center;
  padding: 2rem;
  border-radius: 0.5rem;
}

@media (min-width: 768px) { 
  .container {
    width: 60%;

  }
}

h2 {
  font-size: 3rem;
  padding: 1rem;
}

.border {
  border:solid white 1px;
}

p {
  margin: 0;
  text-transform: capitalize;
  font-size: 2rem;
}

img {
  width: 10rem;
}

.title {
  font-size: 6rem;
}

.app {
  position: relative;
  background-color: #333;
}

.app, .container-overlay  {
  height: 100vh;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.671);
  
}

.container-app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.description {
  font-size: 3rem;
}

.text-small {
  font-size: 1.5rem;
}

button {
  border:none;
  border-radius: .5rem;
  background-color: #999b84;
  padding: 1.5rem;
  margin-top: 1.5rem;
  color: #283128;
  font-size: 2rem;
  width: 100%;
}

@media (min-width: 968px) { 
  button {
    width: 25%;
  }
 }

button:hover {
  background-color: rgb(208, 221, 204);

}

